<?xml version="1.0" encoding="UTF-8"?>
<web-app id="paha-ets" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>Planificateur d'horaire pour l'ETS</display-name>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

<!-- Servlet pour la version 3 -->
	<servlet> 
        <servlet-name>CoursService</servlet-name> 
        <servlet-class>
            net.oal.ets.planhoraire.server.CoursServiceImpl
        </servlet-class> 
    </servlet> 
    <servlet-mapping> 
        <servlet-name>CoursService</servlet-name> 
        <url-pattern>/net.oal.ets.planhoraire.Planhoraire/cours.do</url-pattern> 
    </servlet-mapping>
    <servlet-mapping> 
        <servlet-name>CoursService</servlet-name> 
        <url-pattern>/net.oal.ets.planhoraire.Grillehoraire/cours.do</url-pattern> 
    </servlet-mapping>
</web-app>
